1.Create a 2D numpy array with 5x5 elements and store it in .npy file and display.

In [1]:
import numpy as np

In [2]:
data = ([[0.864, 0.625, 0.256, 0.843, 0.546],
        [0.756, 0.457, 0.954, 0.321, 0.486,],
        [0.523, 0.667, 0.888, 0.355, 0.974],
        [0.412, 0.984, 0.461, 0.963, 0.841],
        [0.486, 0.951, 0.123, 0.753, 0.159]])

In [3]:
np.save('binary_data',data)

In [4]:
loaded_data = np.load('binary_data.npy')
loaded_data

array([[0.864, 0.625, 0.256, 0.843, 0.546],
       [0.756, 0.457, 0.954, 0.321, 0.486],
       [0.523, 0.667, 0.888, 0.355, 0.974],
       [0.412, 0.984, 0.461, 0.963, 0.841],
       [0.486, 0.951, 0.123, 0.753, 0.159]])

2.Create a .csv file in the name demo and store reg.no, name, section, mark1, mark2, mark3 values of 10 students.

In [5]:
a = np.array("Gopala,Gokul,Prasoon,Sanjeev,Sravan,Praveen,Bhuvan,Varun,Teja,Althi".split(','))
b= list(np.array(('D2,'*10).split(',')))
mark1 =  np.random.randint(100,size=(10,))
mark2 =  np.random.randint(100,size=(10,))
mark3 =  np.random.randint(100,size=(10,))
b.pop()

''

In [6]:
data = np.array([[a],[b],[mark1],[mark2],[mark3]])
data

array([[['Gopala', 'Gokul', 'Prasoon', 'Sanjeev', 'Sravan', 'Praveen',
         'Bhuvan', 'Varun', 'Teja', 'Althi']],

       [['D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2']],

       [['98', '0', '77', '26', '71', '94', '94', '39', '19', '55']],

       [['56', '45', '65', '87', '60', '24', '27', '27', '58', '56']],

       [['15', '4', '52', '49', '17', '94', '90', '84', '84', '66']]],
      dtype='<U11')

In [7]:
data.shape

(5, 1, 10)

In [8]:
data_stu = data.reshape(5,10)
data_stu.T

array([['Gopala', 'D2', '98', '56', '15'],
       ['Gokul', 'D2', '0', '45', '4'],
       ['Prasoon', 'D2', '77', '65', '52'],
       ['Sanjeev', 'D2', '26', '87', '49'],
       ['Sravan', 'D2', '71', '60', '17'],
       ['Praveen', 'D2', '94', '24', '94'],
       ['Bhuvan', 'D2', '94', '27', '90'],
       ['Varun', 'D2', '39', '27', '84'],
       ['Teja', 'D2', '19', '58', '84'],
       ['Althi', 'D2', '55', '56', '66']], dtype='<U11')

In [9]:
csv_rows = ["{},{},{},{},{}".format(i, j, k,m,n) for i, j, k, m, n in data_stu.T]
csv_text = "\n".join(csv_rows)

with open('demo.csv', 'w') as f:
    f.write(csv_text)

In [10]:
f.close

3.Load the demo.csv file content into numpy array.

In [11]:
with open('demo.csv','r') as f:
    txt  = f.readlines()

In [12]:
data = np.genfromtxt('demo.csv',delimiter=",",skip_header=True,dtype =str)
data

array([['Gokul', 'D2', '0', '45', '4'],
       ['Prasoon', 'D2', '77', '65', '52'],
       ['Sanjeev', 'D2', '26', '87', '49'],
       ['Sravan', 'D2', '71', '60', '17'],
       ['Praveen', 'D2', '94', '24', '94'],
       ['Bhuvan', 'D2', '94', '27', '90'],
       ['Varun', 'D2', '39', '27', '84'],
       ['Teja', 'D2', '19', '58', '84'],
       ['Althi', 'D2', '55', '56', '66']], dtype='<U7')